*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89.4vh;
  }

#paraButtons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
h1,h2{
    color: aliceblue; 
    font-family:'Courier New', Courier, monospace;
  }
  
header{
    justify-content: center;
    display: flex;
    background-color: #0004;
    padding: 10px;
  }

body {
    height: 100%;
    background-image: url(img/img-1.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
  }

#quiz-container {
   height: 25.0rem;
   width: 33.0rem;
   padding: 50px;
   border: black solid 1px;
   flex-direction: column;
   border: #363636 solid 1px;
   border-radius: 7px;
   background-color: transparent;
   backdrop-filter: blur(10px);
  }

@media screen and (max-width: 500px) {
    
button {
    width: 100px;
    height: 30px;
    margin: 10px;
  }
    
#quiz-container {
   display: flex;
   flex-direction: column;
   height: 600px;
   width: 300px;
   font-size: 10px;
   }
}
  
p{
    font-size: 20px;
    text-align: center;
    margin: 50px;
  }
  
button {
    width: 150px;
    height: 60px;
    margin: 20px;
    border: 3px solid #024955;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
  }
  
button:hover {
    background: #024955;
    color: white;
    font-size: 20px;
  }

#btnReiniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
#btnReiniciar:hover {
    letter-spacing: 3px;
    background-color: hsl(0, 100%, 50%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(255, 0, 0) 0px 7px 29px 0px;
  }
  
#btnReiniciar:active {
    letter-spacing: 3px;
    background-color: hsl(340, 100%, 50%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(247, 0, 62) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  